@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #EEECE6;
	margin:0;
	font-family: "Sorts Mill Goudy", serif;
	color: #EEECE6;	
	overflow-x: hidden;
}

.background{
	background-image: url("concertsbackground.png");
	background-color: black;
}
img {
	height: 30vmin;
	padding: 1vmin;
}

.grid{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#feature{
	height: 61vmin;
}

#feature2{
	height: 68vmin;
}

#vertical{
	height: 59.5vmin;
}

#side{
	height: 40.5vmin;
}

#sidethin{
	height: 42vmin;
}

#sidethiner{
	height: 43vmin;
}

#verticalthin{
	height: 67.5vmin;
}
#verticalthiner{
	height: 74.5vmin;
}

#square{
	height: 92vmin;
}

#three{
	height: 44vmin;
}

#three2{
	height: 49vmin;
}

.sidenav{
	display: flex;
	flex-direction: column;
	margin: 0;
  padding: 0;
  width: 40vmin;
  background-color:#0D0907;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.arrange{
	display: flex;
	flex-direction: row;

}

.col{
	display: flex;
	flex-direction: column;
	padding-left: 36vw;	
}

a{
	color: #888888;
	text-decoration: none;
	font-size: 1em;


}

a:hover{
	color: #EEECE6;

}


h3{
	font-size: 1.2em;
	color: #EEECE6;

	}

.text{
	display: flex;
	flex-direction: column;
	padding-left: 3vw;
	padding-top: 2vw;
}

h1{
	padding-top: 1.3em;
	font-size: 2.3em;
	padding-bottom: 1em;
}

h2{
	color: #202020;
	text-align: center;
	padding-top: 10vmin;
	font-size: 2em;
	margin-bottom: 0.5vmin;
}
p{
	color: #202020;
	text-align: center;
	font-size: 1.22em;
	line-height: 2em;
}
small{
	padding-top: 1.5vmin;
	color: #888888;
}

.fcolor{
	color: #FAF0E6;
}

.iconsize{
	width:6vw;
	height: inherit;
}

.bottomtext{
	text-align: right;
	font-size: 2em;
	padding-bottom: 1vmax;
	color: #EEECE6;
}

a:hover{
	text-decoration: underline;
}

.caps{
	
	font-size: 1em;
	line-height: 1em;
	padding-bottom: 1em;
}
.centerall2{
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

label .menu {
  position: absolute;
  left: -25px;
  top: -100px;
  z-index: 100;
  width: 100px;
  height: 200px;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #69D2e7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

  
}
label input:checked + .menu {
	background-color: white;
}


label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

  
}



label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  content-visibility: hidden;


}

label input:checked + .menu + ul {
	content-visibility: visible;
	opacity: 1; }

label a {
  margin-bottom: 1em;
  display: block;
  color: #888888;
  text-decoration: none;
  
}

label h3{
	color: black;
	padding-bottom: 1vh;
}
label h1{
	color: black;
	}
.menu{
	visibility: hidden;
}




@media only screen and (max-width: 640px){
	.sidenav{
		visibility: hidden;
	}
  .menu{
  	visibility: visible;

  }
  .col{
  	padding-left: 0;


  }
  h2{
  	font-size: 1.4em;
  }
  p{
  	font-size: 0.9em;
  }
  .arrange{
  	align-items: center;
  	justify-content: center;
  }
  .bottomtext{
  	font-size: 1em;
  }
  .centerall{
  	text-align: center;
  }



}
