@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body{
	background-color: black;
	color: white;
	font-family: "Sorts Mill Goudy", serif;
}

img{
	padding: 2vmin;
}
.threeimg{
	width: 27vw;
}

.twoimg{
	width: 37vw;
}

h1{
	font-size: 3em;
	color: white;
	
}

h2{
	font-size: 2em;
}

.rows{
	display: flex;
	justify-content: center;

}

.col{
	display: flex;
	flex-direction: column;
}

.pdf{
  width: 100%;
  aspect-ratio: 4 / 3;
}

.topNav{
	padding: 3vmin;
	padding-bottom: 4vmin;

}

.topNav a{
	color: #888888;
	text-decoration: none;
	font-size: 1.3em;
	padding-left: 2vmin;
	padding-right: 2vmin;
	cursor: pointer;
}

.topNav a:hover{
	color: white;

}

#centeralign{
	text-align: center;
}







